//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

// Center Align
.aligncenter {
	display: block;
  margin: 0 auto 1em;
} // .aligncenter

// Left Align
.alignleft {
  @extend .aligncenter;
  @include breakpoint($medium) {
    display: inline;
  	float: left;
  	margin: 0 1em 1em 0;
  }
} // .alignleft

// Right Align
.alignright {
  @extend .aligncenter;
  @include breakpoint($medium) {
    display: inline;
    float: right;
    margin: 0 0 1em 1em;
  }
} // .alignright
