//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

//--------------------------------------------------------------
// Iframes
//--------------------------------------------------------------

embed,
iframe,
object {
	max-width: 100%;
} // embed, iframe, object

hr {
	width:auto;
  height: 1px;
	background-color: $primary-color;
	border: 0;
	margin: 0 0 1em 0;
} // hr

figure {
	margin: 0;
} // figure

//--------------------------------------------------------------
// Lists
//--------------------------------------------------------------

ul,
ol {
	margin: 0 0 1em 0;
  padding: 0;
} // ul, ol

ul {
	list-style: disc;
  list-style-position: inside;
} // ul

ol {
	list-style: decimal;
  list-style-position: inside;
} // ol

li > ul,
li > ol {
	margin: 0 0 0 2em;
} // li > ul, li > ol

dt {
	font-weight: 700;
} // dt

dd {
	margin: 0 1em 1em 0;
} // dd

//--------------------------------------------------------------
// Tables
//--------------------------------------------------------------

table {
  width: 100%;
  height: auto;

	margin: 0 0 1em 0;
} // table

th {
	font-weight: 700;
} // th
