.content-grid, .people-list {
  // display: inline-block;
  // text-align: center;
  margin: 1em 0;

  .grid__item {
    .ppl-heading {
      line-height: normal;
      text-align: center;
      h4 {
        margin: 0 0 0.2rem;
      }
    }
    line-height: 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0.5em 0 0;
    text-align: left;
    a img {
      border: 1px solid $accent-color;

      &:hover {
        border: 1px solid darken($accent-color, 15%);
      }
    }

    @include breakpoint($small) {
      width: 32%;
      margin: 0.5em 0.5em 0 0;
    }
    @include breakpoint($large) {
      width: 19%;
      margin: 0.5em 0.5em 0 0;
    }
  }
  &.large-2 {
    .grid__item {
      @include breakpoint($large) {
        width: 48%;
        margin: 0.5em 0.5em 0 0;
      }
    }
  }
}

@supports (display:flex) {
  .content-grid, .people-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0 1em -0.5em;
    justify-content: space-around;


    .grid__item {
      margin: 0;
      padding: 0 0 0 0;
      flex: 1 0 100%;
      width: auto;
      margin: initial;
      @include breakpoint($small) {
        padding: 0 0 0 0.5em;
        flex: 1 0 33.3%;
        margin: 0 0 0 0;
        width: auto;
      }
      @include breakpoint($large) {
        flex: 1 0 20%;
        margin: 0 0 0 0;
        width: auto;
      }
    }
    &.large-2 {
      .grid__item {
        @include breakpoint($large) {
          flex: 1 0 50%;
          margin: 0 0 0 0;
          width: auto;
        }
      }
    }
  }
}

@supports (display:grid) {
  .content-grid, .people-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
    grid-gap: 0.5em;
    margin: initial;
  @include breakpoint($large) {
    &.large-2 {
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }
  }
    .grid__item {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      max-width: none;
    }
  }
  .people-list {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-gap: 1em;
  }
}

.entry-content .video-gallery {
  .grid__item {
    a {
      display: block;
      height: 0;
      padding-bottom: 56%;
      background-size: cover;
      background-position: center center;
      position: relative;
      opacity: 1;
      transition: 0.5s opacity ease;
      p {
        line-height: 1.3;
        width: 100%;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
        padding: 0.3em;
        color: black;
        background: rgba(#fff, 0.7);
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.excerpt-wrap {
  .post-excerpt {
    @extend .clearfix;
    border-bottom: $border-width $border-style $border-color;
  }
}
