

// Article single-article-nav
.single-article-nav {
  @extend .clearfix;
  margin-top: 1em;
  .left, .right {
    text-align: center;
    @include breakpoint($small) {
      width: 50%;
      float: left;
      text-align: left;
    }
  }
  .right {
    @include breakpoint($small) {
      float: right;
      text-align: right;
    }
  }
}
